---
layout: default
---
<a class="back-link" href="/blog/">← Blog</a>
<article>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <span class="post-date">{{ page.date | date: "%d %b %Y" }}</span>
      {% for tag in page.tags %}
        <a class="post-tag" href="/tag-{{ tag | slugify }}/">#{{ tag }}</a>
      {% endfor %}
    </div>
  </header>

  {% if page.toc %}
    {% include toc.html %}
  {% endif %}

  <div class="post-content">{{ content }}</div>
</article>
