---
layout: default
---

<a class="back-link" href="{{ '/tags/' | relative_url }}">← All tags</a>

<div class="page-header">
  <h1 class="page-title">#{{ page.tag }}</h1>
  {% assign tagged_posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}
  <p class="page-description">{{ tagged_posts | size }} post{% if tagged_posts.size != 1 %}s{% endif %}</p>
</div>

<div class="post-list">
  {% for post in tagged_posts %}
  <div class="post-list-item">
    <span class="post-list-date">
      <span class="date-day">{{ post.date | date: "%d" }}</span>
      <span class="date-month">{{ post.date | date: "%b %Y" }}</span>
    </span>
    <div class="post-list-body">
      <a class="post-list-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.tags.size > 0 %}
      <div class="post-tags">
        {% for tag in post.tags %}
        <a class="post-tag" href="/tag-{{ tag | slugify }}/">#{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
